#cc-logo {
	height: 50px;
	margin: 5px;
}

.navbar-inverse .navbar-nav > li > a {
	color: rgb(219, 166, 33);
	padding: 20px;
}

.navbar-brand {
	margin: none;
}

.nav.navbar-nav.navbar-right {
	height: 100%;
}

.panel-default > .panel-heading {
	background-color: rgb(219, 166, 33);
}

#myCarousel {
	height: 100%;
}

.btn-circle {
	width: 70px;
	height: 70px;
	margin-top: 15px;
	padding: 7px 16px;
	border: 2px solid #fff;
	border-radius: 35px;
	font-size: 40px;
	color: #fff;
	background: 0 0;
	-webkit-transition: background .3s ease-in-out;
	-moz-transition: background .3s ease-in-out;
	transition: background .3s ease-in-out;
}

.btn-circle:hover i.animated {
	-webkit-animation-name: pulse;
	-moz-animation-name: pulse;
	-webkit-animation-duration: 1.5s;
	-moz-animation-duration: 1.5s;
	-webkit-animation-iteration-count: infinite;
	-moz-animation-iteration-count: infinite;
	-webkit-animation-timing-function: linear;
	-moz-animation-timing-function: linear;
}

.btn-circle i.animated {
	-webkit-transition-property: -webkit-transform;
	-webkit-transition-duration: 1s;
	-moz-transition-property: -moz-transform;
	-moz-transition-duration: 1s;
}

.btn-circle:hover, .btn-circle:focus {
	outline: 0;
	color: #fff;
	background: rgba(255,255,255,.1);
}

.welcome-text {
	font-size: 4em;
	margin-bottom: 100px;
	color: rgb(219, 166, 33);
	/*background: rgba(0,0,0,0);*/
}

.carousel-caption{
	top: 50%;
}

/*.anchor {
    display: block;
    position: absolute;
    width: 0;
    height: 0;
    z-index: -1;
    top: -60px;
    left: 0;
    visibility: hidden;
}*/

.anchor:target {
	padding-top: 70px;
}

.network-name {
	text-transform: uppercase;
	font-size: 14px;
	font-weight: 400;
	letter-spacing: 2px;
}

.social-media, .social-media:hover{
	background-color: rgb(219, 166, 33);
	border: 1px solid #aaa;
}

.social-media:hover {
	color: #fff;
}